@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;400;700&display=swap');


html body {
	overflow-x: hidden;
}
.wrapper {
	min-height: 100%;
	min-width: 359px;
	margin: 0 auto;
	font-family: "Yanone Kaffeesatz";
	color: white;
}

.header {
	height: 200px;
	text-align: center;
	background: #C05805;
	color: white;
	font-size: 30px;
	display: flex;
	column-gap: 10px;
	justify-content: space-between;
	align-items: center;
	padding: 0px 80px;
	transition: all 0.2s ease-in-out;
}

.logo_container {
	min-height: 100%;
	background: left / 160px no-repeat url(../img/logo_white.svg);
	padding-left: 150px;
	display: flex;
	align-items: center;
}

.logo_header {
	font-weight: 700;
	font-size: 72px;

}

.logo_text {
	font-size: 22px;

}

.footer_logo {
	background-size: 80px;
	padding-left: 75px;
}

.footer_logo_header {
	font-size: 36px;
}

.footer_logo_text {
	font-size: 11px;
}
.header_contacts_container {
	height: 100%;
	background: left / 55px no-repeat url(../img/mobile.svg);
	padding-left: 60px;
	display: flex;
	align-items: center;
}

.logo_header::after {
	content: "";
	display: block;
	height: 10px;
	width: 100;
	margin-bottom: 3px;
	background-image:
	linear-gradient(
	  #0082D1 50%,
	  #FFD100 50%
	);
}

.footer_logo_header::after {
	height: 5px;
}

.nav_list a:last-child {
	margin: 0px 2px 0px 1px; 
}

.nav_list a:first-child {
	margin: 0px 1px 0px 2px; 
}

.nav_bar a:hover, .dropdown:hover{
	background-color: #FFBB00
}

.nav_bar {
	max-height: 50px;
	background: #2E2300;
	position: sticky;
	top: 0;
	z-index: 10;
	display: flex;
}

.nav_link, .dropdown{
	background-color: #6E6702;
	display: block;
	margin: 0px 1px;
	text-align: center;  
	padding: 0 20px;  
	text-decoration: none;
	line-height: 1;
	white-space: nowrap;
	transition: all 0.2s ease-in-out;
	font-size: 24px;
	width: 150px;
	line-height: 50px;
}

.dropdown{
	font-size: 24px;
	width: 0%;
	padding-left: 0;
	padding-right: 0;
	margin: 0;
	background: center no-repeat url(../img/menu.svg), #6E6702;
	display: inline-block;
	position: relative;
	background-size: 24px;
}

.dropbtn {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	background-color: transparent;
	font-family: inherit; /* Important for vertical align on mobile phones */
	margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #2E2300;
	top: 100%;
	left: 0%;
}

.dropdown_link {
	margin: 2px 0px;
}

.dropdown_link:last-child {
	margin: 2px 0px 0px 0px;
}

.nav_link_home{
	width: 75px;
	min-width: 60px;
	background: center no-repeat url(../img/home.svg), #6E6702;
	background-size: 24px;
}

.show {display:block;}

.wrapper section{
	padding: 50px 80px 80px 80px;
	position: relative;
	transition: all 0.2s ease-in-out;
}

.section_link {
	position: absolute;
	top: -49px;
}

.section_info_wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
}

.section_info_container {
	width: 1200px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
}

.text_container {
	padding: 16px;
	max-width: 500px;
	max-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.location_container, .contacts_text_container, .text_container > p {
	font-size: 42px;
	word-spacing: 8px;
}

.text_list > li {
	font-size: 32px;
	background: url(../img/dron_dec_white.svg) 0 0 no-repeat;
	background-size: 35px;
	padding-left: 50px;
}

.text_list > li:not(:last-child) {
	margin-bottom: 20px;
}

.list_text {
	padding-left: 20px;
	margin-top: 10px;
	font-size: 28px;
}

.location_text {
	font-size: 48px;
	word-spacing: 8px;
	text-align: center;
}

.ps {
	font-size: 28px;
	text-align: center;
}

.location_container {
	width: 100%;
	position: relative;
}

.location_container::before {
	content: "";
	display: inline-block;
	background: url(../img/location-pin.svg);
	width: 50px;
	height: 50px;
}
.contacts_text_container {
	width: 100%;
}

.contacts_text_container::before {
	content: "";
	display: inline-block;
	background: url(../img/mobile.svg);
	width: 50px;
	height: 50px;
}

.contacts {
	text-align: center;
}

section.about, .about_img::before, .about_img::after{
	background: #DB9501;
}

section.equipment, .equipment_img::before, .equipment_img::after{
	background: #3F681C;
}

section.services, .services_img::before, .services_img::after{
	background: #CF3721;
}

section.contacts, .contacts_img::before, .contacts_img::after{
	background: #7D5E3C;
}

.default_img_container{
	max-width: 480px;
	max-height: 360px;
	border: 5px solid #FFD100;
	outline: 5px solid #0082D1;
	padding: 7px;
	position: relative;
}

img {
	position: relative;
	max-width: 100%;
	max-height: 100%;
	height: auto;
	z-index: 5;
}

.default_img_container::before{
	content: "";
	width: 50%;
	height: 75%;
	top: -10px;
	left: -10px;
	position: absolute;
}

.default_img_container::after{
	content: "";
	width: 50%;
	height: 75%;
	bottom: -10px;
	right: -10px;
	position: absolute;
}

.section_header_container {
	position: relative;
	width: 100%;
	text-align: center;
	margin-bottom: 40px;
}

.section_header {
	display: inline-block;
	position: relative;
	font-weight: 700;
	font-size: 64px;
	color: white;
	text-align: center;
}

.section_header::before {
	content:'';
	background: url('../img/dron_dec_white.svg') no-repeat; /*url of image*/
	height: 35px; /*height of image*/
	width: 35px;  /*width of image*/
	position: absolute;
	left: -45px;
	top: 15px;
	transition: all 0.2s ease-in-out;
}

.section_header::after {
	content:'';
	background: url('../img/dron_dec_white.svg'); /*url of image*/
	height: 35px; /*height of image*/
	width: 35px;  /*width of image*/
	position: absolute;
	right: -45px;
	top: 15px;
	transition: all 0.3s ease-in-out;
}

.section_header:hover::after {
	transform: rotate(180deg);
}

.section_header:hover::before {
	transform: rotate(-180deg);
}


.footer {
	color: white;
	background-color: #C05805;
	height: 100px;
	padding: 0 20px;
}

@media (max-width: 1160px) {
	.section_info_container {
		max-width: 1200px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
}


@media (max-width: 786px) {
	.header {
		padding: 0px 20px;
	}

	.logo_container {
		min-height: 100%;
		background: left / 160px no-repeat url(../img/logo_white.svg);
		padding-left: 150px;
		display: flex;
		align-items: center;
	}

	.logo_header {
			font-weight: 700;
			font-size: 64px;
			line-height: 0.75;

	}

	.logo_text {
			font-size: 18px;

	}

	.logo_header::after {
		content: "";
		display: block;
		height: 10px;
		width: 100%;
		margin-bottom: 3px;
		margin-top: 10px;
		background-image:
		linear-gradient(#0082D1 50%, #FFD100 50%);
	}

	.logo_container {
	min-height: 100%;
	background: left / 120px no-repeat url(../img/logo_white.svg);
	padding-left: 120px;
	display: flex;
	align-items: center;
	}

	.header_contacts_container {
	height: 100%;
	background: none;
	padding-left: 0px;
	}

	.header_contacts_text_container {
		min-width: 122px;
		max-width: 100%;
		background: center / 45px no-repeat url(../img/mobile.svg);
		background-position: 50% 25%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 60px;
		font-size: 22px;
	}

	.wrapper section {
	padding: 30px;
	position: relative;
	}

	.section_info_container {
	display: flex;
	justify-content: space-between;
	}

	.footer_logo {
	background-size: 80px;
	padding-left: 75px;
	}

	.footer_logo_header {
		font-size: 36px;
	}

	.footer_logo_text {
		font-size: 11px;
	}
}

@media (max-width: 520px) {
	.header {
		padding: 0px 8px;
	}

	.main_link {
		overflow: hidden;
		font-size: 0px;
		width: 0%;
		padding-left: 0;
		padding-right: 0;
		margin: 0 0;
	}

	.dropdown {
		width: 75px;
		margin: 0px 1px;
	}

}
